@width: 1200px;
@paddingNav: 25px;
body {
    padding: 0;
    margin: 0;
    background-image: url(https://static.tumblr.com/34c9c476206ee5a30ef3aeb63f31b6f9/rfpkbvp/CQUojg6at/tumblr_static_tumblr_static_eyn3f2c8mygw0ggc4oo0w8w0s_focused_v3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.nav {
    width: @width;
    margin: 0 auto 50px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(253, 63, 206, 0.664);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 3px 3px rgba(248, 167, 255, 0.623);
}
.menu {
    text-align: right;
}
.cart {
    text-transform: uppercase;
    background-color: rgba(253, 63, 205, 0);
    border-color: transparent;
    outline: none;
    border-bottom-right-radius: 10px;
    padding: @paddingNav;
    margin: 0;
    transition: background-color .2s ease-out;
    &:hover {
        background-color: rgba(253, 63, 205, 0.651);
    }
    &:active {
        background-color: rgb(253, 63, 205);
    }
}
.products {
    width: @width;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(246, 199, 255, 0.801);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: box-shadow .2s ease-out;
    &:hover {
        box-shadow: 2px 2px 3px 3px rgba(65, 65, 66, 0.66);
    }
}
.prod {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    display: flex;
}
.name {
    text-transform: capitalize;
    display: inline-block;
    width: 50%;
    text-align: left;
}
.price {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.price::after {
    content: '$';
}
.buy {
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    background-color: #89ff9c;
    padding: 15px;
    width: 140px;
    margin: 0 auto;
    transition: background-color .1s ease-out;
    outline: none;
    &:hover {
        background-color: white;
    }
    &:active {
        background-color: #89ff9c;
    }
}